@model CDB_SZFPZ.Models.Kompanija

@{
    ViewBag.Title = "Create";
}

<h2 style="text-align:center">Stvori kompaniju</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
            <div class="col-sm-3">
                <label style="clear: both; text-align: left;">
                    Naziv*
                </label>
                @Html.EditorFor(model => model.NazivKompanija, new { htmlAttributes = new { @Value = ViewBag.Naziv, @placeholder = "Enter a value", @class = "form-control", style = "text-align:center;" } })
                @Html.ValidationMessageFor(model => model.NazivKompanija, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3">
                <label style="clear: both; text-align: left;">
                    Adresa
                </label>
                @Html.EditorFor(model => model.AdresaKompanija, new { htmlAttributes = new { @Value = ViewBag.Adresa, @placeholder = "Enter a value", @class = "form-control", style = "text-align:center;" } })
                @Html.ValidationMessageFor(model => model.AdresaKompanija, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3">
                <label style="clear: both; text-align: left;">
                    Poštanski broj
                </label>
                @Html.EditorFor(model => model.PoštanskiBrojKompanija, new { htmlAttributes = new { @Value = ViewBag.Postanski, @placeholder = "Enter a value", @class = "form-control", style = "text-align:center;" } })
                @Html.ValidationMessageFor(model => model.PoštanskiBrojKompanija, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />

        <dl class="dl-horizontal">
            <div class="row">
                <div class="col-sm-3">
                    <label style="clear: both; text-align: left;">
                        Država
                    </label>
                    @Html.EditorFor(model => model.DrzavaKompanija, new { htmlAttributes = new { @Value = ViewBag.Drzava, @placeholder = "Enter a value", @class = "form-control", style = "text-align:center;" } })
                    @Html.ValidationMessageFor(model => model.DrzavaKompanija, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-3">
                    <label style="clear: both; text-align: left;">
                        Grad
                    </label>
                    @Html.EditorFor(model => model.GradKompanija, new { htmlAttributes = new { @Value = ViewBag.Grad, @placeholder = "Enter a value", @class = "form-control", style = "text-align:center;" } })
                    @Html.ValidationMessageFor(model => model.GradKompanija, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-3">
                    <label style="clear: both; text-align: left;">
                        Telefon
                    </label>
                    @Html.EditorFor(model => model.TelefonKompanija, new { htmlAttributes = new { @Value = ViewBag.Telefon, @placeholder = "Enter a value", @class = "form-control", style = "text-align:center;" } })
                    @Html.ValidationMessageFor(model => model.TelefonKompanija, "", new { @class = "text-danger" })
                </div>
            </div>
        </dl>

        <hr />

        <div class="row">
            <div class="col-lg-12">
                <label style="clear: both; text-align: left;">
                    Opis
                </label>
                @Html.TextArea("OpisKompanija", (string)(ViewBag.OpisKompanija), new { @Value = ViewBag.OpisKompanija, @placeholder = "Enter a value", @class = "form-control", style = "text-align:center;" })
                @Html.ValidationMessageFor(model => model.OpisKompanija, "", new { @class = "text-danger" })
            </div>
        </div>

       <hr />

       <h4 style="text-align:center">
           <div class="form-group">
               <div class="form-actions no-color">
                   <input type="submit" value="Create" class="btn btn-default" style="font-size : 14px; height:50px; width:160px;" />
               </div>
           </div>
           <hr />
           @Html.ActionLink("Popis kompanija", "Index")
       </h4>
    </div>
}