@using PagedList;
@using PagedList.Mvc;
@model IPagedList<CDB_SZFPZ.Models.Suradnja>

@{
    ViewBag.Title = "Index";
}

<h2>Ukupno: @ViewBag.BrojSuradnji</h2>

<h3>
    @Html.ActionLink("Stvori novu suradnju", "Create")
</h3>
<hr />
@using (Html.BeginForm())
{
    <p>
        <div class="row">
            <div class="col-sm-2">
                <label>Traži po projektu:</label>
                @Html.DropDownList("searchProjekt", (SelectList)ViewBag.IDProjekt, "Svi projekti", new { @class = "form-control" })
            </div>
            <div class="col-sm-2">
                <label>Traži po kompaniji:</label>
                @Html.DropDownList("searchKompanija", (SelectList)ViewBag.IDKompanijaKontakta, "Sve kompanije", new { @class = "form-control" })
            </div>
            <div class="col-sm-2">
                <label>Traži po odgovornom:</label>
                @Html.DropDownList("searchOdgovoran", (SelectList)ViewBag.OdgClan, "Svi članovi", new { @class = "form-control" })
            </div>
            <div class="col-sm-2">
                <label>Traži po statusu:</label>
                @Html.DropDownList("searchStatus", (SelectList)ViewBag.StatusSuradnja, "Svi statusi", new { @class = "form-control" })
            </div>
            <div class="col-sm-2">
                <label>Traži po kontaktu:</label>
                @Html.DropDownList("searchKontakt", (SelectList)ViewBag.KontaktKompanije, "Svi kontakti", new { @class = "form-control" })
            </div>
            <div class="col-sm-2">
                <label>Traži po tipu suradnje:</label>
                @Html.DropDownList("searchTip", (SelectList)ViewBag.TipSuradnja, "Svi tipovi", new { @class = "form-control" })
            </div>
        </div>
        <hr />
        <div class="row" style="text-align:center">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                <label>Unesite početni datum</label>
                @Html.TextBox("pocDatum", "", new { @class = "form-control", @placeholder = "Nije obvezno", style = "text-align:center;", type = "date" })
            </div>
            <div class="col-sm-3">
                <label>Unesite krajnji datum</label>
                @Html.TextBox("krajDatum", "", new { @class = "form-control", @placeholder = "Nije obvezno", style = "text-align:center;", type = "date" })
            </div>
            <div class="col-sm-3"></div>
        </div>
        <hr />
        <div class="row" style="text-align:center">
            <div>
                <input type="submit" name="Btn_Nadji_Projekt" value="Traži" class="btn btn-default" style="font-size : 14px; height:50px; width:200px;" />
            </div>
        </div>
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Projekt", "Index", new { sortOrder = ViewBag.ProjektSort, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, searchOdgovoran = ViewBag.Odg, searchStatus = ViewBag.Sta, searchTip = ViewBag.Tipp, searchKontakt = ViewBag.Konta, pocDatum = ViewBag.Poc, krajDatum = ViewBag.Kraj })
        </th>
        <th>
            @Html.ActionLink("Kompanija", "Index", new { sortOrder = ViewBag.KompanijaSort, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, searchOdgovoran = ViewBag.Odg, searchStatus = ViewBag.Sta, searchTip = ViewBag.Tipp, searchKontakt = ViewBag.Konta, pocDatum = ViewBag.Poc, krajDatum = ViewBag.Kraj })
        </th>
        <th>
            @Html.ActionLink("Odgovoran", "Index", new { sortOrder = ViewBag.OdgovoranSort, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, searchOdgovoran = ViewBag.Odg, searchStatus = ViewBag.Sta, searchTip = ViewBag.Tipp, searchKontakt = ViewBag.Konta, pocDatum = ViewBag.Poc, krajDatum = ViewBag.Kraj })
        </th>
        <th>
            @Html.ActionLink("Zadnji kontakt", "Index", new { sortOrder = ViewBag.DatumSort, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, searchOdgovoran = ViewBag.Odg, searchStatus = ViewBag.Sta, searchTip = ViewBag.Tipp, searchKontakt = ViewBag.Konta, pocDatum = ViewBag.Poc, krajDatum = ViewBag.Kraj })
        </th>
        <th>
            @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSort, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, searchOdgovoran = ViewBag.Odg, searchStatus = ViewBag.Sta, searchTip = ViewBag.Tipp, searchKontakt = ViewBag.Konta, pocDatum = ViewBag.Poc, krajDatum = ViewBag.Kraj })
        </th>
        <th>
            @Html.ActionLink("Kontakt", "Index", new { sortOrder = ViewBag.KontaktSort, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, searchOdgovoran = ViewBag.Odg, searchStatus = ViewBag.Sta, searchTip = ViewBag.Tipp, searchKontakt = ViewBag.Konta, pocDatum = ViewBag.Poc, krajDatum = ViewBag.Kraj })
        </th>
        <th>
            @Html.ActionLink("Tip suradnje", "Index", new { sortOrder = ViewBag.TipSort, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, searchOdgovoran = ViewBag.Odg, searchStatus = ViewBag.Sta, searchTip = ViewBag.Tipp, searchKontakt = ViewBag.Konta, pocDatum = ViewBag.Poc, krajDatum = ViewBag.Kraj })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Projekt.NazivProjekt, "Details", "Projekts", new { id = item.Projekt.IDProjekt }, null)
            </td>
            <td>
                @Html.ActionLink(item.Kompanija.NazivKompanija, "Details", "Kompanijas", new { id = item.IDKompanija }, null)
            </td>
            <td>
                @Html.ActionLink(item.ClanFROdbora.ImePrezime, "Details", "Members", new { id = item.ClanFROdbora.IDClan }, null)
            </td>
            <td>
                @item.DatumZadnjegKontakta.Date.ToString("dd'/'M'/'yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusSuradnja1.StatusNaziv)
            </td>
            <td>
                @Html.ActionLink(item.KontaktKompanije1.ImePrezimeKontakta, "Details", "Kontakti", new { id = item.KontaktKompanije1.IDKontakt }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipSuradnje.TipSuradnja)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDSuradnja }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDSuradnja }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDSuradnja })
            </td>
        </tr>
    }
</table>

<div class="row" style="text-align:center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.LastSorter, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, searchOdgovoran = ViewBag.Odg, searchStatus = ViewBag.Sta, searchTip = ViewBag.Tipp, searchKontakt = ViewBag.Konta, pocDatum = ViewBag.Poc, krajDatum = ViewBag.Kraj }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, MaximumPageNumbersToDisplay = 10, DisplayItemSliceAndTotal = true })
</div>