@using PagedList;
@using PagedList.Mvc;
@model CDB_SZFPZ.Models.ClanFROdbora

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align:center">Detalji člana @Model.ImePrezime</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <div class="row">
            <div class="col-sm-3">
                <label style="clear: both; text-align: left;">
                    E-mail
                </label>
                <p>@Html.DisplayFor(model => model.EmailClana)</p>
            </div>
            <div class="col-sm-3">
                <label style="clear: both; text-align: left;">
                    Mobitel
                </label>
                <p>@Html.DisplayFor(model => model.MobitelKontakt)</p>
            </div>
            <div class="col-sm-2">
                <label style="clear: both; text-align: left;">
                    Modul
                </label>
                <p>@Html.DisplayFor(model => model.ModuliFPZ.NazivModula)</p>
            </div>
            <div class="col-sm-2">
                <label style="clear: both; text-align: left;">
                    Uloga
                </label>
                <p>@Html.DisplayFor(model => model.UlogaUSustavu.NazivUloge)</p>
            </div>
            <div class="col-sm-2">
                <label style="clear: both; text-align: left;">
                    Aktivan
                </label>
                <p>@Html.DisplayFor(model => model.AktivanClan.Aktivan)</p>
            </div>
        </div>
    </dl>
</div>

<hr />

<h4 style="text-align:center">
    @Html.ActionLink("Uredi", "Edit", new { id = Model.IDClan }) |
    @Html.ActionLink("Izbriši člana", "Delete", new { id = Model.IDClan }) |
    @Html.ActionLink("Popis članova", "Index")
</h4>

<hr />

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-sm-2">
            <label>Dokumenti vezani uz člana:</label>
        </div>

        <div class="col-sm-2">
            <label>Traži po projektu:</label>
            @Html.DropDownList("searchProjekt", (SelectList)ViewBag.IDProjekt, "Svi projekti", new { @class = "form-control" })
        </div>

        <div class="col-sm-2">
            <label>Traži po kompaniji:</label>
            @Html.DropDownList("searchKompanija", (SelectList)ViewBag.IDKompanija, "Sve kompanije", new { @class = "form-control" })
        </div>

        <div class="col-sm-1">
            <label>Suradnja:</label>
            <p>@Html.CheckBox("isSuradnja", false, new { style = "height:30px; width:30px;" })</p>
        </div>

        <div class="col-sm-1">
            <label>SIC:</label>
            <p>@Html.CheckBox("isSIC", false, new { style = "height:30px; width:30px;" })</p>
        </div>

        <div class="col-sm-2">
            <input type="submit" name="Btn_Nadji_Dokumente" value="Traži" class="btn btn-default" style="font-size : 14px; height:50px; width:200px;" />
        </div>
    }
</div>

<hr />

<div class="row">
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Dies Domini:", "Details", new { sortOrder = ViewBag.DateSort, id = Model.IDClan, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, isSuradnja = ViewBag.Sur, isSIC = ViewBag.SIC })
            </th>
            <th>
                <span class="glyphicon glyphicon-cloud-download navbar-link" style="color:green"></span> @Html.ActionLink(" File name:", "Details", new { sortOrder = ViewBag.NameSort, id = Model.IDClan, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, isSuradnja = ViewBag.Sur, isSIC = ViewBag.SIC })
            </th>
            <th>
                @Html.ActionLink("File size:", "Details", new { sortOrder = ViewBag.SizeSort, id = Model.IDClan, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, isSuradnja = ViewBag.Sur, isSIC = ViewBag.SIC })
            </th>
            <th>
                @Html.ActionLink("File extension:", "Details", new { sortOrder = ViewBag.ExtensionSort, id = Model.IDClan, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, isSuradnja = ViewBag.Sur, isSIC = ViewBag.SIC })
            </th>
            <th>
                @Html.ActionLink("Projekt:", "Details", new { sortOrder = ViewBag.Projekt_File, id = Model.IDClan, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, isSuradnja = ViewBag.Sur, isSIC = ViewBag.SIC })
            </th>
            <th>
                @Html.ActionLink("Suradnja:", "Details", new { sortOrder = ViewBag.Suradnja_File, id = Model.IDClan, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, isSuradnja = ViewBag.Sur, isSIC = ViewBag.SIC })
            </th>
            <th>
                @Html.ActionLink("Kompanija:", "Details", new { sortOrder = ViewBag.Kompanija_File, id = Model.IDClan, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, isSuradnja = ViewBag.Sur, isSIC = ViewBag.SIC })
            </th>
            <th>
                @Html.ActionLink("SIC:", "Details", new { sortOrder = ViewBag.SIC_File, id = Model.IDClan, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, isSuradnja = ViewBag.Sur, isSIC = ViewBag.SIC })
            </th>
            <th>
                <span class="glyphicon glyphicon-warning-sign navbar-link" style="color:red"></span>
            </th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.Dokumenti)
        {
            <tr>
                <td>
                    @item.Upload_Date.ToString("dd'/'M'/'yyyy")
                </td>
                <td>
                    @Html.ActionLink(" " + (string)item.Name, "Download_File", new { id = item.ID_File }, htmlAttributes: new { @class = "glyphicon glyphicon-cloud-download navbar-link", @style = "color:green" })
                </td>
                <td>
                    @item.Size KB
                </td>
                <td>
                    @item.File_Extension
                </td>
                @if (item.Projekt != null)
                {
                    <td>@Html.ActionLink((string)item.Projekt1.NazivProjekt, "Details", "Projekts", new { id = item.Projekt1.IDProjekt }, null)</td>
                }
                else
                {
                    <td></td>
                }
                @if (item.Suradnja != null)
                {
                    <td>@Html.ActionLink(" ", "Details", "Suradnjas", new { id = item.Suradnja1.IDSuradnja }, htmlAttributes: new { @class = "glyphicon glyphicon-shopping-cart navbar-link", @style = "color:green" })</td>
                }
                else
                {
                    <td></td>
                }
                @if (item.Kompanija != null)
                {
                    <td>@Html.ActionLink((string)item.Kompanija1.NazivKompanija, "Details", "Kompanijas", new { id = item.Kompanija1.IDKompanija }, null)</td>
                }
                else
                {
                    <td></td>
                }
                @if (item.SIC != null)
                {
                    <td>@Html.ActionLink(" ", "Details", "SharingIsCarings", new { id = item.SharingIsCaring.IDSiC }, htmlAttributes: new { @class = "glyphicon glyphicon-heart navbar-link", @style = "color:purple" })</td>
                }
                else
                {
                    <td></td>
                }
                <td>
                    @Html.ActionLink(" ", "DeleteFile", new { id = item.ID_File, parent_ID = Model.IDClan }, htmlAttributes: new { @class = "glyphicon glyphicon-remove navbar-link", @style = "color:red" })
                </td>
            </tr>
        }
    </table>

    <div class="row" style="text-align:center">
        @Html.PagedListPager((PagedList.IPagedList)ViewBag.Dokumenti, page3 => Url.Action("Details", new { page3, id = Model.IDClan, sortOrder = ViewBag.LastSorter, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, isSuradnja = ViewBag.Sur, isSIC = ViewBag.SIC }),
        new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, MaximumPageNumbersToDisplay = 10, DisplayItemSliceAndTotal = true })
    </div>
</div>

<hr />

<div class="row">
    <h3 style="clear: both; text-align: center;">
        Suradnje | Ukupno: @ViewBag.sumSuradnje
    </h3>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Kompanija", "Details", new { id = Model.IDClan, sortOrder = ViewBag.KompSurSort, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, isSuradnja = ViewBag.Sur, isSIC = ViewBag.SIC })
            </th>
            <th>
                @Html.ActionLink("Zadnji kontakt", "Details", new { id = Model.IDClan, sortOrder = ViewBag.ZKSurSort, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, isSuradnja = ViewBag.Sur, isSIC = ViewBag.SIC })
            </th>
            <th>
                @Html.ActionLink("Status", "Details", new { id = Model.IDClan, sortOrder = ViewBag.StaSurSort, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, isSuradnja = ViewBag.Sur, isSIC = ViewBag.SIC })
            </th>
            <th>
                @Html.ActionLink("Kontakt", "Details", new { id = Model.IDClan, sortOrder = ViewBag.KontSurSort, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, isSuradnja = ViewBag.Sur, isSIC = ViewBag.SIC })
            </th>
            <th>
                @Html.ActionLink("Tip suradnje", "Details", new { id = Model.IDClan, sortOrder = ViewBag.TipSurSort, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, isSuradnja = ViewBag.Sur, isSIC = ViewBag.SIC })
            </th>
            <th></th>
        </tr>

        @foreach (var item in @ViewBag.Suradnje)
        {
            <tr>
                <td>
                    @Html.ActionLink((string)item.Kompanija.NazivKompanija, "Details", "Kompanijas", new { id = item.IDKompanija }, null)
                </td>
                <td>
                    @item.DatumZadnjegKontakta.Date.ToString("dd'/'M'/'yyyy")
                </td>
                <td>
                    @item.StatusSuradnja1.StatusNaziv
                </td>
                <td>
                    @Html.ActionLink((string)item.KontaktKompanije1.ImePrezimeKontakta, "Details", "Kontakti", new { id = item.KontaktKompanije1.IDKontakt }, null)
                </td>
                <td>
                    @item.TipSuradnje.TipSuradnja
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Suradnjas", new { id = item.IDSuradnja }, null) |
                    @Html.ActionLink("Details", "Details", "Suradnjas", new { id = item.IDSuradnja }, null) |
                    @Html.ActionLink("Delete", "Delete", "Suradnjas", new { id = item.IDSuradnja }, null)
                </td>
            </tr>
        }
    </table>
</div>

<div class="row" style="text-align:center">
    @Html.PagedListPager((PagedList.IPagedList)ViewBag.Suradnje, page => Url.Action("Details", new { page, id = Model.IDClan, sortOrder = ViewBag.LastSorter, searchProjekt = ViewBag.Proj, searchKompanija = ViewBag.Komp, isSuradnja = ViewBag.Sur, isSIC = ViewBag.SIC }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, MaximumPageNumbersToDisplay = 10, DisplayItemSliceAndTotal = true })
</div>