@model CDB_SZFPZ.Models.KontaktKompanije

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align:center">Kontakt kompanije @Html.ActionLink(Model.Kompanija.NazivKompanija, "Details", "Kompanijas", new { id = Model.Kompanija.IDKompanija }, null)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <div class="row">
            <div class="col-sm-3">
                <label>Ime i prezime</label>
                <p>@Html.DisplayFor(model => model.ImePrezimeKontakta)</p>
            </div>
            <div class="col-sm-3">
                <label>Email</label>
                <p>@Html.DisplayFor(model => model.EmailKontakt)</p>
            </div>
            <div class="col-sm-3">
                <label>Funckija u kompaniji</label>
                <p>@Html.DisplayFor(model => model.FunkcijaUKompaniji)</p>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-sm-3">
                <label>Telefon</label>
                <p>@Html.DisplayFor(model => model.TelefonKontakt)</p>
            </div>
            <div class="col-sm-3">
                <label>Mobitel</label>
                <p>@Html.DisplayFor(model => model.MobitelKontakt)</p>
            </div>
            <div class="col-sm-3">
                <label>Validan</label>
                <p>@Html.DisplayFor(model => model.ZaposlenValidan)</p>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-lg-12">
                <label style="clear: both; text-align: left;">
                    Opis
                </label>
                @Html.TextArea("OpisKontakta", (string)(ViewBag.OpisKontakta), new { @class = "form-control", style = "text-align:center;" })
                @*<p>@Html.DisplayFor(model => model.OpisKontakta)</p>*@
            </div>
        </div>
    </dl>
    <hr />
    <h4 style="text-align:center">
        @Html.ActionLink("Uredi kontakt", "Edit", new { id = Model.IDKontakt }) |
        @Html.ActionLink("Izbriši kontakt", "Delete", new { id = Model.IDKontakt }) |
        @Html.ActionLink("Popis kontakata", "Index")
    </h4>
</div>